:root {
    --text: white;
    --dark: #7c9b7a;
    --light: #ec7267;
    --accent: #9dc09c;
    --accent-dark: #ce6056;
    --header-shadow: 0px 5px rgba(255, 255, 255, 1), 
                    0px 10px rgba(124, 155, 122, 1);
    --text-shadow: 
                    -2px -2px 0 white, 
                    2px -2px 0 white,  
                    -2px 2px 0 white,  
                    2px 2px 0 white; 
    --background: #fffbee;
    --background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23ec7267' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zeyada", serif;
}

body {
    background: var(--background);
    background-image: var(--background-image);
    color: var(--text);
}

.heading {
    font-size: 50px;
    text-align: center;
    color: var(--light);
    text-shadow: var(--header-shadow);
    font-family: "Sriracha", serif;
}

.part-1-header {
    color: var(--dark);
    font-family: "Sriracha", serif;
    text-shadow: var(--text-shadow);
}

.part-2-header {
    color: var(--accent-dark);
    font-family: "Sriracha", serif;
    text-shadow: var(--text-shadow);
}

.part-3-header {
    color: var(--light);
    font-family: "Sriracha", serif;
    text-shadow: var(--text-shadow);
}

/*INTRO & CON*/
.ic-container {
    position: relative;
    text-align: center;
    margin: 25px auto;
    background-image: url('assets/flowerstrawberries.png');
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
}

.rounded-box {
    display: inline-block;
    background-color: var(--dark);
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 10px;
}

/*PART 1*/
.part-1-container {
    position: relative;
    text-align: center;
    margin: 50px auto;
    border-radius: 15px;
    background-color: #c1cfc1;
    background-image: url('assets/blueflowers.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

/*PART 2*/
.part-2-container {
    position: relative;
    text-align: center;
    margin: 50px auto;
    border-radius: 15px;
    background-color: #ec7267;
    background-image: url('assets/strawberryflowers.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

table {
    position: relative;
    margin: auto;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

/*PART 3*/
.part-3-container {
    position: relative;
    text-align: center;
    margin: 50px auto;
    border-radius: 15px;
    background-color: #ffd0c8;
    background-image: url('assets/watermelonflowers.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
}

#yesButton {
    position: absolute;
    margin-right: 150px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.btn {
    background-color: var(--light);
    color: var(--text);
    padding: 5px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 320px) and (max-height: 568px) {
    body {
        height: 100vh;
    }

    .header_text {
        font-size: 20px;
    }

    img {
        height: 60vh;
    }

    .btn {
        padding: 10px 18px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 414px) and (max-height: 736px) {
    body {
        height: 90vh;
    }

    .header_text {
        font-size: 28px;
    }

    img {
        height: 60vh;
    }

    .btn {
        padding: 15px 25px;
        font-size: 14px;
    }
}